.signup-container {
    background-color: #eefcff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
  
.signup-wrapper {
    background-image: url("../code3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title {
    font-size: 45px;
    font-weight: 900;
    color: #ae9dc4;
}

@media (max-width: 900px) {
    .home-title {
        display: none;
    }
}

.sidebar-container {
    min-width: 400px;
    backdrop-filter: blur(35px);
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;
}

.logo-h3 {
    text-align: center;
    color: #50386b;
    font-size: 22px;
}

.logo-span {
    color: #3a8fff;
    font-weight: 300;
}

.logo {
    height: 6rem;
    border-radius: 10px;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-h3 {
    color: #666666;
    margin-bottom: 2rem;
}

.signup-button {
    width: 75%;
    max-width: 350px;
    min-width: 250px;
    height: 40px;
    border: none;
    margin: 1rem 0;
    background-color: #0ebb73;
    box-shadow: 0px 14px 9px -15px rgba(0,0,0,0.25);
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.signup-button:hover {
    transform: translateY(-3px);
}

.terms {
    padding: 0 1rem;
    text-align: center;
    font-size: 10px;
    color: #808080;
    font-weight: 300;
}


.signin-h4 {
    color: #808080;
    font-weight: bold;
    font-size: 13px;
    margin-top: 2rem;
}

.signin-span {
    color: #ff8d8d;
    cursor: pointer;
}

@media (max-width: 900px) {
    .sidebar-container {
        width: 100vw;
        position: absolute;
        padding: 0;
    }
}